<p><a routerLink="/app-prestacio">Prestacions</a></p>

<!--<p><a routerLink="/app-copagament">Copagaments (inactiu)</a></p>

<p><a routerLink="/app-serveiSocial">Serveis Socials d'Atenció Pública (inactiu)</a></p>-->

<p><a class="brand" href="http://treballiaferssocials.gencat.cat/ca/ambits_tematics/serveis_socials/la_cartera_de_serveis_socials/"> Control de qualitat dels Serveis </a></p>

<p><a class="brand" href="http://treballiaferssocials.gencat.cat/ca/ambits_tematics/serveis_socials/la_cartera_de_serveis_socials/"> Normativa </a></p>