<h2>Introdueix les dades per donar d'alta a una nova persona:</h2>
<form>
	<label>Nom: </label>
	<input type="text" name="nom" [(ngModel)]="nom">
	<br>

	<label>Cognoms: </label>
	<input type="text" name="cognoms" [(ngModel)]="cognoms">
	<br>

	<label>Data de naixement: </label>
	<input type="date" name="naixement" [(ngModel)]="naixement">
	<br>

	<label>Correu electrònic: </label>
	<input type="text" name="correu" [(ngModel)]="correu">
	<br>

	<label>Telèfon: </label>
	<input type="text" name="telefon" [(ngModel)]="telefon">
	<br>

	<label>Mòbil: </label>
	<input type="text" name="mobil" [(ngModel)]="mobil">
	<br>

	<label>Adreça: </label>
	<input type="text" name="adreca" [(ngModel)]="adreca">
	<br>

	<label>Localitat: </label>
	<input type="text" name="localitat" [(ngModel)]="localitat">
	<br>

	<label>Comarca: </label>
	<input type="text" name="comarca" [(ngModel)]="comarca">
	<br>

	<button (click)="addPersona()" type="submit" class="btn btn-default">Confirmar</button>
</form>
