<html>
    <head>       

    </head>
    <body>         
        <div class="navbar navbar-default">            
               <div class="navbar-inner">
                 <div class="container">
                    <a class="brand" href="http://web.gencat.cat/ca/inici/"> <img src="http://www.gencat.cat/img2/temp/escudo_tcm32-28377.gif"></a>
                 </div>
               </div>
             </div> 
        
         <nav class="navbar navbar-default" *ngIf="logged">    
             <div class="container">
                 <div class="navbar-header">
                    <a class="navbar-brand" routerLink="/home">Home</a>
                 </div>
                 <ul class="nav navbar-nav">                 
                     <li>
                        <a routerLink="/organitzacions">Organitzacions</a>
                     </li>
                     <li>


                        <a routerLink="/app-serveis" routerLinkActive="active">Cartera de Serveis</a>


                     </li>
                     <li>
                        <a routerLink="/app-jaume-mg">Jaume-mg</a>
                     <li>
                        <a routerLink="/app-jaume-c">Jaume-c</a>
                     </li>
                 </ul>
                 <ul class="nav navbar-nav navbar-right">
                     <li>
                        <a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                     </li>                     
                 </ul>
            </div> 
        </nav>
        <nav class="navbar navbar-default" *ngIf="!logged">    
             <div class="container">
                 <div class="navbar-header">
                    <a class="navbar-brand" routerLink="/home">Home</a>
                 </div>
                 <ul class="nav navbar-nav navbar-right">
                 <li>

                 <a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a>

                </li>
            </ul>
            </div> 
        </nav>
        
        <router-outlet></router-outlet>
        
    </body>
</html>

