<html>
    <body>
        <!--<curs-modol></curs-modol>
       <div *ngIf="finished" class="alert alert-success fade in alert-dismissable" style="margin-top:18px;">     
    <strong>Molt be!</strong> Nou Curs afegit Correctament
</div>
         <div *ngIf="errorBuit" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
    <strong>Error!</strong> Hi ha algún camp buit
</div>
        <div *ngIf="errorServer" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
    <strong>Error!</strong> Server not Works!
</div>
        <div *ngIf="errorN" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
    <strong>Error!</strong> error 500
</div>
    <form name="addCopagament" display="block">      
            <h2>Introdueixi una nou Copagament: </h2>		        
            <label for="content">Tipus</label><br>
		        <input type="text" name="addCopagament" [(ngModel)]="addTipus"><br>
            <label for="content">Descripció</label><br>
		        <input type="text" name="addCopagament" [(ngModel)]="addDescripcio"><br><br>
		        <button (click)="addCopagament()" type="submit" class="btn btn-default">Enviar</button>
    </form>-->
    </body>
</html>